name: Update Template using Flexlate

on:
  schedule:
    - cron: "0 3 * * *" # every day at 3:00 AM
  workflow_dispatch:

jobs:
  templateUpdate:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Flexlate
        run: pip install flexlate
      - name: Set Git Committer
        run: |
          git config --global user.email "flexlate@nickderobertis.com"
          git config --global user.name "Flexlate"
      - name: Check if template is out of date
        id: template_check
        run: |
          if ! fxt check; then
            echo "Need to update template. Will do so and open PR.";
            echo ::set-output name=template_update::true;
          else
            echo "No updates to template needed, will exit workflow.";
            echo ::set-output name=template_update::false;
          fi;
      - name: Set template update branch
        if: steps.template_check.outputs.template_update == 'true'
        run: git checkout -b template-patches
      - name: Template Update
        id: template_update
        if: steps.template_check.outputs.template_update == 'true'
        run: |
          if fxt update --no-input --abort; then
            echo "Applied updates successfully.";
            echo ::set-output name=raise_update_issue::false;
          else
            echo "Encountered conflicts while trying to apply update. Will open an issue rather than a PR.";
            echo ::set-output name=raise_update_issue::true;
          fi;
      - name: Create Issue Template, Checking if Github Actions Workflow Updated
        id: workflow_update_check
        if: steps.template_check.outputs.template_update == 'true'
        run: bash scripts/create-flexlate-issue-template.sh
      - name: Check if Issue Exists
        uses: nickderobertis/check-if-issue-exists-action@master
        id: check_if_issue_exists
        with:
          repo: ${{ github.repository }}
          token: ${{ secrets.gh_token }}
          title: Manual Update to Files from Flexlate Needed
          labels: automated issue, maintenance
      - name: Create Issue to Manually Update Template
        if: (steps.check_if_issue_exists.outputs.exists == 'false' && steps.template_check.outputs.template_update == 'true' && (steps.workflow_update_check.outputs.workflow_updated == 'true' || steps.template_update.outputs.raise_update_issue == 'true'))
        uses: JasonEtco/create-an-issue@5ee5d5edcd3777b7d5482d9342d3f08cd8daa3cd
        with:
          filename: temp-issue-template.md
        env:
          GITHUB_TOKEN: ${{ secrets.gh_token }}
      - name: Remove temporary issue template so it does not get committed
        if: steps.template_check.outputs.template_update == 'true'
        run: rm temp-issue-template.md
      - name: Push changes to Flexlate template branch
        if: steps.template_check.outputs.template_update == 'true' && steps.template_update.outputs.raise_update_issue == 'false' && steps.workflow_update_check.outputs.workflow_updated == 'false'
        run: git push flexlate-templates-template-patches
      - name: Push changes to Flexlate output branch
        if: steps.template_check.outputs.template_update == 'true' && steps.template_update.outputs.raise_update_issue == 'false' && steps.workflow_update_check.outputs.workflow_updated == 'false'
        run: git push flexlate-output-template-patches
      - name: Set back to main branch
        if: steps.template_check.outputs.template_update == 'true' && steps.template_update.outputs.raise_update_issue == 'false' && steps.workflow_update_check.outputs.workflow_updated == 'false'
        run: |
          git checkout "$CHECKOUT_BRANCH"
          git merge template-patches
        env:
          CHECKOUT_BRANCH: ${{ github.ref_name }}
      - name: Create PR with template update
        if: steps.template_check.outputs.template_update == 'true' && steps.template_update.outputs.raise_update_issue == 'false' && steps.workflow_update_check.outputs.workflow_updated == 'false'
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.gh_token }}
          commit-message: Update project template using Flexlate
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          committer: GitHub <noreply@github.com>
          title: "Update project template using Flexlate"
          body: |
            Update template using Flexlate.

            Before merging, review the changes and adjust manually if necessary.

            - Updates coming from [copier-pypi-sphinx-flexlate][1]

            [1]: https://github.com/nickderobertis/copier-pypi-sphinx-flexlate
          labels: no auto merge, automated pr
          branch: template-patches
